
h2 {
    padding-top: 20px;
}

h1 {
    font-weight: bold;
}

.header {
    width: 100%;
    flex: 100%;
    order: 0;
}

.logo {
    width: 50%;
    float: left;
}

.name-and-position {
    width: 50%;
    float: right;
    text-align: right;
}

.foto {
    width: 100px;
    height: 100px;
}

.row {
    margin-top: 10px;
    margin-bottom: 10px;
}

a {
    padding-top: 5px !important;
    padding-bottom: 5px !important;
    text-align: center;
}

img.banner {
    max-height: 233px;
}

img.center {
    display: flex;
    margin-left: auto;
    margin-right: auto;
    width: auto;
}

.color-dark-gray {
    color: #2d3c49
}

.color-blue {
    color: #02b3e4;
}

.color-gray {
    background-color: #7d97ad;
}

.hr {
    width: 100%;
    height: 2px;
    margin-bottom: 5px;
    margin-top: 15px;
}

section {
    position: relative;
    clear: both;
}

section.list-items {
    position: relative;
    min-height: 1px;
    padding-left: 15px;
    padding-right: 15px;
}

.item {
    position: relative;
    min-height: 1px;
    padding-left: 15px;
    padding-right: 15px;
    float: left;
    display: block;
    text-align: justify;
}

@media (min-width: 992px) {
    .item {
        width: 33.33%;
    }
}

@media (min-width: 1200px) {
    .item {
        width: 33.33333%;
    }
}
